<h1>Welcome to Hangman!!</h1>
<div id="play-field" phx-window-keyup="keyup">
  <%= live_component @socket, WordSoFarComponent, letters: @letters %>
  <%= live_component @socket, GuessLettersComponent, guesses: @guesses %>
  <div class="grid grid-cols-2">
    <%= live_component @socket, GallowsComponent, turns_left: @turns_left %>
  </div>
</div>
